/*Frame*/
.Frame {
  height: 1080px;
  width: 140px;
  background-color: #f2f2f2;
  background-image: url("../public/image/Left.png");
  background-repeat: repeat;
  position: fixed;
  top: 0;
}
.left {
  left: 0px;
}
.right {
  right: 0px;
}
/*Detail Section*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: max-content;
  width: 80%;
  margin: auto;
}
.column {
  padding: 105px 0px 120px 0px;
}
/*Detail Section first column*/
.first {
  width: 424px;
}
.first > h1 {
  font-size: 48px;
  line-height: 55px;
  color: #257bc4;
  text-transform: capitalize;
}
.first > p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
.borderWrap {
  margin-top: 64px;
  width: 355px;
  height: max-content;
  padding: 4px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 82% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 82% 100%, 0 100%);
  position: relative;
  background: linear-gradient(to right, #f366b9, #fc7c23);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details {
  width: 100%;
  height: 100%;
  padding-bottom: 36px;
  background: #ffffff;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 82% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 82% 100%, 0 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px 42px;
  text-transform: capitalize;
}
.details h2 {
  font-size: 20px;
  font-weight: 500;
  margin-left: 48px;
  margin-top: 36px;
}
.details p {
  margin: 0px;
  margin-left: 48px;
  margin-bottom: 8px;
}
.details p:last-child {
  margin-bottom: 0px;
}

/*Detail Section second column*/
.second {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.second > img {
  width: auto;
}
.shadow {
  width: 283px;
  height: 42px;
  background: rgba(0, 0, 0, 0.2);
  filter: blur(29px);
}

/*Detail Section third column*/
.third {
  margin-left: 100px;
}
.title h2 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;
}
.title:last-child h2 {
  margin-top: 60px;
}
.cardTag {
  margin-top: 8px;
  display: flex;
  gap: 20px;
}
.tag {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  color: #ffffff;
}
.stats h3 {
  font-size: 14px;
  font-weight: 400;
  margin: 12px 0px;
}
.stats .outerLayer {
  width: 345px;
  height: 4px;
  border-radius: 8px;
  background-color: #d9d9d9;
}
/* Button Section */
.buttonSection {
  display: flex;
  justify-content: center;
}
.button {
  padding: 10px 28px;
  background-color: #ffcb05;
  border: 6px solid #2b73b9;
  border-radius: 4px;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}
.button > svg {
  margin-right: 10px;
  vertical-align: text-bottom;
}
@media screen and (max-width: 1704px) {
  .container :nth-child(1) {
    order: 2;
  }
  .container :nth-child(2) {
    order: 1;
  }
  .container :nth-child(3) {
    order: 3;
  }
  .column {
    padding: 50px;
  }
  .details :nth-child(1) {
    order: 1;
  }
  .details :nth-child(2) {
    order: 2;
  }
  .details :nth-child(3) {
    order: 3;
  }

  .details :nth-child(4) {
    order: 4;
  }
  .second {
    flex-direction: column-reverse;
  }

  .third {
    margin: auto;
  }
}
@media screen and (max-width: 1374px) {
  .Frame {
    display: none;
  }
  .buttonSection {
    padding: 30px;
  }
  .column {
    padding: 10px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    padding: 20px;
  }
  .column {
    padding: 0px;
  }
  .first {
    width: 350px;
  }
  .first > h1 {
    font-size: 24px;
    text-align: center;
  }
  .first > p {
    font-size: 16px;
  }
  .borderWrap {
    min-width: 350px;
    margin: auto;
  }
  .details h2 {
    font-size: 16px;
  }
  .details p {
    font-size: 14px;
  }
  .second > img {
    width: 288px;
    height: 288px;
  }
  .shadow {
    width: 149px;
    height: 13px;
    background: rgba(0, 0, 0, 0.1);
    filter: blur(10px);
    margin-bottom: 26px;
  }

  .buttonSection {
    padding-bottom: 36px;
  }
}
