/*Hero Section*/
.hero {
  background-image: url("../public/image/Texture.png"),
    url("../public/image/Background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 14px;
  height: 1080px;
}

.cards {
  margin: 0px 40px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
  row-gap: 40px;
  scroll-behavior: smooth;
}
.moveButton {
  position: absolute;
  background-color: #2b73b9;
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: #ffff;
  font-weight: bold;
  border: none;
  border-radius: 100%;
  top: 270px;
  z-index: 5;
}
.left {
  left: 10px;
}
.right {
  right: 10px;
}
.moveButton {
  display: none;
}
.cards a {
  color: #000000;
  text-decoration: none;
}
.card {
  cursor: pointer;
  width: 215px;
  height: max-content;
  -webkit-clip-path: polygon(100% 0, 100% 85%, 82% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 85%, 82% 100%, 0 100%, 0 0);
  background: #ffffff;
  border-radius: 10px;
  padding: 10px;
}
.card:hover {
  background-color: #3383c8;
  transition: 0.5s;
}
.card:hover .cardImage {
  transform: scale(1.1);
  transition: 0.5s;
}
.cardImages {
  background-color: #f2f2f2;
  border-radius: 7px;
  height: 215px;

  width: 215px;
}
.cardImages > p {
  font-size: 14px;
  text-align: left;
  padding: 1rem 0 0 1rem;
  margin: 0px;
}
.cardTitle {
  margin: 1rem;
  text-transform: capitalize;
}
.cardTag {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tag {
  font-size: 14px;
  padding: 4px 20px;
  border-radius: 4px;
  color: #ffffff;
}

/* Frame Animation */
.sideAnimation {
  background-image: url("../public/image/Left.png");
  background-repeat: repeat-y;
  position: fixed;
  z-index: -1;
  height: 5000vh;
  width: 139px;
  overflow-y: hidden;
  top: 0px;
  animation: wave 400s 0s linear infinite;
  transform: translate3d(0, 0, 0);
}
@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(-50%);
  }
}

/* Blog Section */
.title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  width: 542px;
  height: 136px;
  margin: 0 auto;
  margin-top: 95px;
  background-image: url("../public/image/Brush.png");
  color: #257bc4;
}
.details {
  margin: 55px 186px;
  display: grid;
  grid-template-columns: 4fr 3fr;
  gap: 20px;
  position: absolute;
  padding-bottom: 95px;
}
.leftPart {
  text-align: justify;
}
.imageOne {
  float: right;
  margin: 10px 0px 24px 24px;
}
.imageTwo {
  float: right;
  height: 300px;
  display: flex;
  align-items: flex-end;
  shape-outside: polygon(0 100px, 100% 100px, 100% 100%, 0 100%);
  clip-path: polygon(0 100px, 100% 100px, 100% 100%, 0 100%);
  margin: 0px;
  margin-left: 24px;
}
.imageThree {
  clear: both;
  float: right;
  margin: -76px 0px 0px 24px;
}
.middlePart {
  display: none;
}
.rightPart {
  text-align: justify;
}
.imageFour {
  float: left;
  height: 290px;
  display: flex;
  align-items: flex-end;
  shape-outside: polygon(0 90px, 100% 90px, 100% 100%, 0 100%);
  clip-path: polygon(0 90px, 100% 90px, 100% 100%, 0 100%);
  margin-top: 24px;
  margin-left: 0px;
  margin-right: 24px;
  margin-bottom: 24px;
}
.imageFour > img {
  margin-bottom: 0px;
}
.imageFive {
  float: left;
  clear: both;
  margin-right: 24px;
}
@media screen and (max-width: 1650px) {
  .moveButton {
    display: block;
    top: 50vh;
  }
  .hero {
    padding-right: 0px;
  }
  .cards {
    cursor: grab;
    margin-left: 16px;
    margin-right: 0px;
    margin-top: 20vh;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
  }
  .cards::-webkit-scrollbar {
    display: none;
  }
  .card {
    transform: translateX(0px);
  }
}
@media screen and (max-width: 1180px) {
  .sideAnimation {
    display: none;
  }
  .title {
    font-size: 24px;
    width: 271px;
    height: 56px;
    margin-left: auto;
    background-size: cover;
  }
  .details {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .imageOne,
  .imageTwo,
  .imageThree,
  .imageFour,
  .imageFive {
    display: none;
  }

  .disappear {
    display: none;
  }
  .middlePart {
    display: flex;
    margin: 5px;
    justify-content: center;
  }
  .middleColumns {
    display: grid;
    grid-template-columns: 206px 206px 206px;
  }
  .middleColumnOne {
    margin-top: 60px;
  }
  .middleColumnThree {
    margin-top: 75px;
  }
}
@media screen and (max-width: 630px) {
  .hero {
    height: 500px;
  }
  .moveButton {
    width: 30px;
    height: 30px;
    font-size: 16px;
    top: 270px;
  }
  .cards {
    margin-top: 16px;
    gap: 15px;
  }
  .details p {
    padding: 0px 20px;
  }
  .middleColumns {
    grid-template-columns: 126px 126px 126px;
  }
  .middleColumns img {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 442px) {
  .middleColumns {
    grid-template-columns: 111px 111px 111px;
  }
  .middleColumns img {
    width: 108px;
    height: 100px;
  }
  .details {
    margin: 5px;
  }
}
